# Exercicis reforç

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Introducció Python

*Crea una llista on cada element son les paraules de 'string'*

In [47]:
string = "La Marta té 3 germans"

In [48]:
string.split(' ')

['La', 'Marta', 'té', '3', 'germans']

*Donat el seüent diccionari selecciona la paraula hola*

In [49]:
d = {'k0':'adeu','k1':[1,2,3,{'ML':[2,'blau','aigua',{'target':[1,2,'hello']}]}]}

In [50]:
d['k1'][3]['ML'][3]['target'][2]

'hello'

*Crea una funció que es quedi amb el domini d'un correu.*

hola@gmail.com --> gmail.com

In [51]:
def getDomain(x):
    return x.split('@')[-1]

In [52]:
getDomain("hola@gmail.com")

'gmail.com'

*Escriu una funció que retorni 3 possibles resultats: "No multa", "Multa petit" o "Multa gran". Si la velocitat és 80 o menys el resultat es "No multa". Si la velocitat es entre 81 i 100, el resultat és "Multa petita". I si la velocitat és major a 101 el resultat és "Multa gran". A no ser que el cotxe estigui homologat(paramatre bolea), que pot superar 5 km /h en cada cas.*

In [53]:
def control_velocitat(vel, homologat):
    lim_top = 100
    lim_bot = 80
    if homologat:
        lim_top += 5
        lim_bot += 5
    if vel <= lim_bot:
        return "No multa"
    elif vel > 100:
        return "Multa gran"
    else:
        return "Multa petita"

In [54]:
control_velocitat(81, True)

'No multa'

In [55]:
control_velocitat(105, False)

'Multa gran'

## Matplotlib

In [50]:
fig = plt.figure()

## Numpy

*Crea un array de 10 zeros*

In [15]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

*Crea un array d'enters parells del 10 fins al 50*

In [16]:
np.arange(10,50,2)

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48])

*Crea la seüent matriu*

In [17]:
np.arange(1,101).reshape(10,10) / 100

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

In [18]:
##No escriure

#### Donada la següent matriu...

In [19]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [29]:
## Escriu a la següent cela com obtenir la matriu següent...

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [20]:
mat[2:][1:]

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

*Element de la darrera columna y penultima fila*

In [23]:
mat[3,4] ## També valid mat[3][4]

20

*Suma de tots els elements de la matriu*

In [24]:
mat.sum()

325

*Suma de les columnes*

In [25]:
mat.sum(axis=0)

array([55, 60, 65, 70, 75])

*Obté el nombre de columnes i files de mat*

In [28]:
mat.shape

(5, 5)

## Pandas

*Lletgeix Salaries.csv*

In [39]:
sal = pd.read_csv('Salaries.csv')

*Imprimeix el 'head'*

In [40]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

*Usa el meotde .info()*

In [42]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

*Quina és la mitjana de BasePay?*

In [44]:
sal['BasePay'].mean()

66325.44884050643

*Quin és la cantidad màzima de OvertimePay?*

In [46]:
sal['OvertimePay'].max()

245131.88

*Quants de beneficis('TotalPayBenefits') fa en JOSEPH DRISCOLL?*

In [49]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64