# Exercicis reforç

In [3]:
! pip install -r requirements.txt

Requirement already satisfied: numpy in /home/ejbejaranos/snap/jupyter/common/lib/python3.7/site-packages (from -r requirements.txt (line 1)) (1.21.0)
Collecting scipy (from -r requirements.txt (line 2))
  Downloading https://files.pythonhosted.org/packages/b2/85/b00f13b52d079b5625e1a12330fc6453c947a482ff667a907c7bc60ed220/scipy-1.7.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (28.5MB)
     |████████████████████████████████| 28.5MB 8.0MB/s eta 0:00:01
Collecting sympy (from -r requirements.txt (line 3))
  Downloading https://files.pythonhosted.org/packages/aa/26/956fece0fc67a6c299557d22158503206d8f14b2e0acc2daf7f06c5f4721/sympy-1.8-py3-none-any.whl (6.1MB)
     |████████████████████████████████| 6.1MB 5.4MB/s eta 0:00:01
Collecting matplotlib (from -r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/24/33/5568d443ba438d95d4db635dd69958056f087e57e1026bee56f959d53f9d/matplotlib-3.4.2-cp37-cp37m-manylinux1_x86_64.whl (10.3MB)
     |████████████████████████████████| 10.3MB 2.6MB/s eta 0:00:01
Requirement already satisfied: pandas in /home/ejbejaranos/snap/jupyter/common/lib/python3.7/site-packages (from -r requirements.txt (line 5)) (1.2.5)
Collecting seaborn (from -r requirements.txt (line 6))
  Downloading https://files.pythonhosted.org/packages/68/ad/6c2406ae175f59ec616714e408979b674fe27b9587f79d59a528ddfbcd5b/seaborn-0.11.1-py3-none-any.whl (285kB)
     |████████████████████████████████| 286kB 5.9MB/s eta 0:00:01
Collecting scikit-learn (from -r requirements.txt (line 7))
  Downloading https://files.pythonhosted.org/packages/a8/eb/a48f25c967526b66d5f1fa7a984594f0bf0a5afafa94a8c4dbc317744620/scikit_learn-0.24.2-cp37-cp37m-manylinux2010_x86_64.whl (22.3MB)
     |████████████████████████████████| 22.3MB 7.0MB/s eta 0:00:01
Collecting mpmath>=0.19 (from sympy->-r requirements.txt (line 3))
  Downloading https://files.pythonhosted.org/packages/d4/cf/3965bddbb4f1a61c49aacae0e78fd1fe36b5dc36c797b31f30cf07dcbbb7/mpmath-1.2.1-py3-none-any.whl (532kB)
     |████████████████████████████████| 542kB 5.7MB/s eta 0:00:01
Collecting pillow>=6.2.0 (from matplotlib->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/33/34/542152297dcc6c47a9dcb0685eac6d652d878ed3cea83bf2b23cb988e857/Pillow-8.2.0-cp37-cp37m-manylinux1_x86_64.whl (3.0MB)
     |████████████████████████████████| 3.0MB 5.8MB/s eta 0:00:01
Collecting pyparsing>=2.2.1 (from matplotlib->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/8a/bb/488841f56197b13700afd5658fc279a2025a39e22449b7cf29864669b15d/pyparsing-2.4.7-py2.py3-none-any.whl (67kB)
     |████████████████████████████████| 71kB 6.8MB/s eta 0:00:01
Collecting cycler>=0.10 (from matplotlib->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/f7/d2/e07d3ebb2bd7af696440ce7e754c59dd546ffe1bbe732c8ab68b9c834e61/cycler-0.10.0-py2.py3-none-any.whl
Collecting kiwisolver>=1.0.1 (from matplotlib->-r requirements.txt (line 4))
  Downloading https://files.pythonhosted.org/packages/d2/46/231de802ade4225b76b96cffe419cf3ce52bbe92e3b092cf12db7d11c207/kiwisolver-1.3.1-cp37-cp37m-manylinux1_x86_64.whl (1.1MB)
     |████████████████████████████████| 1.1MB 6.6MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7 in /snap/jupyter/6/lib/python3.7/site-packages (from matplotlib->-r requirements.txt (line 4)) (2.8.0)
Requirement already satisfied: pytz>=2017.3 in /home/ejbejaranos/snap/jupyter/common/lib/python3.7/site-packages (from pandas->-r requirements.txt (line 5)) (2021.1)
Collecting joblib>=0.11 (from scikit-learn->-r requirements.txt (line 7))
  Downloading https://files.pythonhosted.org/packages/55/85/70c6602b078bd9e6f3da4f467047e906525c355a4dacd4f71b97a35d9897/joblib-1.0.1-py3-none-any.whl (303kB)
     |████████████████████████████████| 307kB 5.3MB/s eta 0:00:01
Collecting threadpoolctl>=2.0.0 (from scikit-learn->-r requirements.txt (line 7))
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Requirement already satisfied: six in /snap/jupyter/6/lib/python3.7/site-packages (from cycler>=0.10->matplotlib->-r requirements.txt (line 4)) (1.12.0)
Installing collected packages: scipy, mpmath, sympy, pillow, pyparsing, cycler, kiwisolver, matplotlib, seaborn, joblib, threadpoolctl, scikit-learn
Successfully installed cycler-0.10.0 joblib-1.0.1 kiwisolver-1.3.1 matplotlib-3.4.2 mpmath-1.2.1 pillow-8.2.0 pyparsing-2.4.7 scikit-learn-0.24.2 scipy-1.7.0 seaborn-0.11.1 sympy-1.8 threadpoolctl-2.1.0

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Introducció Python

*Crea una llista on cada element son les paraules de 'string'*

In [5]:
string = "La Marta té 3 germans"

In [6]:
string = ['La', 'Marta', 'té', '3', 'germans']

*Donat el seüent diccionari selecciona la paraula hola*

In [7]:
d = {'k0':'adeu','k1':[1,2,3,{'ML':[2,'blau','aigua',{'target':[1,2,'hello']}]}]}

In [21]:
d['k1'][3]['ML'][3]['target'][2]

'hello'

*Crea una funció que es quedi amb el domini d'un correu.*

hola@gmail.com --> gmail.com

In [ ]:
def getDomain(email):
    x = email.find("@")
    print(email[x+1:])

In [ ]:
getDomain("hola@gmail.com")

*Escriu una funció que retorni 3 possibles resultats: "No multa", "Multa petit" o "Multa gran". Si la velocitat és 80 o menys el resultat es "No multa". Si la velocitat es entre 81 i 100, el resultat és "Multa petita". I si la velocitat és major a 101 el resultat és "Multa gran". A no ser que el cotxe estigui homologat(paramatre bolea), que pot superar 5 km /h en cada cas.*

In [ ]:
def control_velocitat(a,b):
    if b == True:
        if a <= 85:
            print("No multa")
        elif 86 > a < 105:
            print("Multa petit")
        elif a > 106:
            print("Multa gran")
            
    elif b == False:    
        if a <= 80:
            print("No multa")
        elif 81 > a < 100:
            print("Multa petit")
        elif a > 101:
            print("Multa gran")

In [ ]:
control_velocitat(81, True)

In [ ]:
control_velocitat(105, False)

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

x = np.linspace(0, 3, 20)
y = np.linspace(0, 9, 20)
fig = plt.figure(x,y)

TypeError: only size-1 arrays can be converted to Python scalars

## Numpy

*Crea un array de 10 zeros*

In [11]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

*Crea un array d'enters parells del 10 fins al 50*

In [23]:
np.arange(10,50,2)

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48])


*Crea la seüent matriu*

In [24]:
np.arange(1,101).reshape(10,10)/100

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

In [ ]:
##No escriure

#### Donada la següent matriu...

In [25]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [31]:
mat[1:][2:]

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [35]:
mat[2:][1:]

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

*Element de la darrera columna y penultima fila*

In [39]:
mat[3,4]

20

*Suma de tots els elements de la matriu*

In [40]:
mat.sum()

325

*Suma de les columnes*

In [42]:
mat.sum(axis=0)

array([55, 60, 65, 70, 75])

*Obté el nombre de columnes i files de mat*

In [44]:
mat.shape

(5, 5)

## Pandas

*Lletgeix Salaries.csv*

In [45]:
df = pd.read_csv('Salaries.csv')

*Imprimeix el 'head'*

In [46]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

*Usa el meotde .info()*

In [47]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448840,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

*Quina és la mitjana de BasePay?*

In [51]:
df['BasePay'].mean()

66325.4488404877

*Quin és la cantidad màzima de OvertimePay?*

In [57]:
df['OvertimePay'].max()
#df['OvertimePay'].min()

245131.88

*Quants de beneficis('TotalPayBenefits') fa en JOSEPH DRISCOLL?*

In [58]:
df[df['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64